extends layout.pug
block title
  title Web App Box
append style
  style.
    .container{
      text-align: center;
      font-family: microsoft yahei;
    }
    #grid_div img{
      width: 50%;
      margin: 10% auto;
      min-width: 48px;
      cursor: pointer;
    }
append scripts
  script.
    $(function(){
      $('#grid_div a').each(function(){
        $(this).addClass('col-xs-3 col-md-2');
        $(this).children('img').addClass('img-responsive');
      });
    });
block header
  h3 Web App
block content
  #grid_div.row
    a(href='revnue')
      img(src='images/calculator.png')
    a(href='webcam')
      img(src='images/camera.png')
    a(href='trade_index')
      img(src='images/easel.png')
    //- a(href='')
    //-   img(src='images/camera.png')
    //- a(href='')
    //-   img(src='images/calculator.png')
    //- a(href='')
    //-   img(src='images/camera.png')
    //- a(href='')
    //-   img(src='images/calculator.png')
    //- a(href='')
    //-   img(src='images/camera.png')
    //- a(href='')
    //-   img(src='images/calculator.png')
    //- a(href='')
    //-   img(src='images/camera.png')
