extends trade_layout.pug
append style
  link(rel="stylesheet" href="bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")
prepend title
  -var title = 'Index'
prepend header
  -var showTitle = 'Trade History'
append content
  form.form-inline(id="search-form" action="" method="get")
    .form-group
      input.form-control.date-input(type="text" name="from")
      input.form-control.date-input(type="text" name="to")
      input.form-control(type="text" name="stock")
      select.form-control(name="category")
        option(value="证券") 证券
        option(value="融券") 融券
    button.btn.btn-default(type="button" onclick="searchData()") search
  .row
    table#result-tb.table
      thead
        tr
          for val in tableTitle
            th= val
      tbody
  .row
    .col-md-3
      label AVG In Price:&nbsp;
      span#in-price-span
    .col-md-3
      label Max Out Price:&nbsp;
      span#max-out-price-span
    .col-md-3
      label Suggestion:&nbsp;
      span#out-suggest-span
  .row
    .col-md-3
      label AVG Out Price:&nbsp;
      span#out-price-span
    .col-md-3
      label Min In Price:&nbsp;
      span#min-in-price-span
    .col-md-3
      label Suggestion:&nbsp;
      span#in-suggest-span
  .row
    .col-md-3
      label Benefit:&nbsp;
      span#benefit-span
append scripts
  script(src="bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
  script(src="js/common.js")
  script(src="js/trade_index.js")

