extends trade_layout.pug
append style
  link(rel="stylesheet" href="bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")
prepend title
  -var title = 'Index'
prepend header
  -var showTitle = 'Trade History'
append content
  form.form-inline(id="search-form" action="" method="get")
    .form-group
      input.form-control.date-input(type="text" id="from-input" name="from")
      input.form-control.date-input(type="text" id="to-input" name="to")
      input.form-control(type="text" name="stock")
      select.form-control(name="category")
        option(value="证券") 证券
        option(value="融券") 融券
    button.btn.btn-default(type="button" onclick="searchData()") search
  .row
    .col-xs-12
    table#result-tb.table
      thead
        tr
          for val in tableTitle
            th= val
      tbody
      tfoot
        tr
          td(colspan="6")
          th 收益
          td(colspan="2")
            span#benefit-value
  .row
    .col-xs-12.col-sm-6
      table#in-summary-tb.table
        tbody
          tr
            td AVG In:
            td
          tr
            td Max Out:
            td
          tr
            td Suggest Out:
            td
    .col-xs-12.col-sm-6
      table#out-summary-tb.table
          tr
            td AVG Out:
            td
          tr
            td Min In:
            td
          tr
            td Suggest In:
            td
          //- tr
          //-   td Benefit:
          //-   td(colspan="5")
append scripts
  script(src="bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
  script(src="js/common.js")
  script(src="js/trade_index.js")

