extends trade_layout.pug
prepend title
  -var title = 'Upload'
append style
  style.
    button {
      margin-left: 6px;
      width: 120px;
    }
prepend header
  -var showTitle = 'Upload Data'
append content
  block subContent
    .row
      form.form-inline(action="/upload" method="post" enctype="multipart/form-data")
        .form-group
          input.form-control(type='file' name='attach')
        button.btn.btn-default(type='submit') Submit
