extends layout.pug
block title
  title Web Camera
block header
  h4
    a.btn(href='javascript:history.go(-1);')
      span.glyphicon.glyphicon-menu-left
    | Web Camera
block content
  .row
    .col-xs-12.col-sm-6
      video#video(autoplay='')
    .col-xs-12.col-sm-6
      canvas#canvas
    .col-xs-12
      button#picture.btn.btn-default.btn-block.btn-primary(onclick='capture()') PICTURE
append scripts
  script.
    $(function(){
      var video = document.getElementById("video");
      var canvas = document.getElementById('canvas');
      var context = canvas.getContext("2d");
      var errocb = function () {
        console.log('sth wrong!');
      }
      if (navigator.getUserMedia) { // 标准的API
        navigator.getUserMedia({video: true }, function (stream) {
          video.src = stream;
          video.play();
        },  function (error) { console.log(error); });
      } else if (navigator.webkitGetUserMedia) { // WebKit 核心的API
        navigator.webkitGetUserMedia({video: true }, function (stream) {
          video.src = window.webkitURL.createObjectURL(stream);
          video.play();
        }, function (error) { console.log(error); });
      }
    });
    function capture() {
      var video = document.getElementById('video');
      var canvasObj = document.getElementById('canvas');
      var context1 = canvasObj.getContext('2d');
      context1.fillStyle = "#ffffff";
      context1.fillRect(0, 0, 320, 240);
      context1.drawImage(video, 0, 0, 320, 240);
    }
